<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= @title %></title>
</head>
<body>
  <article>
    <p class="when"><%= @created_at %></p>
    <h1><%= @title %>
    <div class="article-body">
      <%= @content %>
    </div>
  </article>
</body>
</html>
